<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AFW</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav> </nav>
    <main class="container">
      <h1>{{page_name}}</h1>

      <form method="post" enctype="multipart/form-data">
        <div class="mb-3">
          <label for="formFileMultiple" class="form-label"
            >Wybierz obrazy do kompresjii</label
          >
          <input
            name="image_to_compress"
            class="form-control"
            type="file"
            id="formFileMultiple"
            multiple
          />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </main>

    <footer> </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
